In [40]:
import pandas as pd
import numpy as np

In [41]:
def filter_county(df):

# a function that removes " county" from the county name, so names match
# apply to each state mortality rate file 

    for i in df.index:
        old_name = df.iloc[i]["location_name"]
    
        end = len(old_name)

        delete = len(" County")
    
        new_name = old_name[0:end-delete]
        df.set_value(i, "location_name", new_name)
    
    
    return df

In [42]:
df1980aqi = pd.read_csv("annual_aqi_by_county_1980.csv")
df2 = pd.read_csv("IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_ALABAMA_Y2017M05D19.csv")

# get a list of states for iteration
# from https://www.geeksforgeeks.org/python-get-unique-values-list/
# intilize a null list
state_list = []
list1 = df1980aqi["State"]  

for x in list1:
    # check if exists in unique_list or not
    if x not in state_list:
        state_list.append(x)

# get a list of years for iteration, as above
year_list = []
list2 = df2["year_id"]                              

for x in list2:
    # check if exists in unique_list or not
    if x not in year_list:
        year_list.append(x)
        
county_list = []
list3 = df2["location_name"]
for x in list3:
    # check if exists in unique_list or not
    if x not in county_list:
        county_list.append(x)

In [43]:
df1980aqi.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Autauga,1980,179,122,35,18,4,0,0,177,108,40,0,0,122,57,0,0
1,Alabama,Colbert,1980,274,127,45,63,39,0,0,200,165,56,0,0,0,274,0,0
2,Alabama,Jackson,1980,366,85,110,92,79,0,0,200,200,94,0,0,0,366,0,0
3,Alabama,Jefferson,1980,342,174,105,37,19,7,0,221,140,50,202,0,140,0,0,0
4,Alabama,Lauderdale,1980,274,120,58,77,19,0,0,200,139,56,0,0,0,274,0,0

In [44]:
df2.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,lower,upper
0,523,Alabama,1,294,All causes,3,Both,1980,1164.632961,1157.592002,1171.695601
1,523,Alabama,1,294,All causes,3,Both,1981,1147.749702,1140.972269,1154.815892
2,523,Alabama,1,294,All causes,3,Both,1982,1125.715064,1118.839079,1133.017565
3,523,Alabama,1,294,All causes,3,Both,1983,1126.679752,1119.276933,1133.815623
4,523,Alabama,1,294,All causes,3,Both,1984,1130.392543,1123.697852,1137.313085

In [45]:
#df2.head()
d = df2.iloc[0]['mx']
d

1164.6329610192199

In [46]:
state_list

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District Of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin']

In [47]:
year_list

[1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014]

In [48]:
county_list

['Alabama',
 'Autauga County',
 'Baldwin County',
 'Barbour County',
 'Bibb County',
 'Blount County',
 'Bullock County',
 'Butler County',
 'Calhoun County',
 'Chambers County',
 'Cherokee County',
 'Chilton County',
 'Choctaw County',
 'Clarke County',
 'Clay County',
 'Cleburne County',
 'Coffee County',
 'Colbert County',
 'Conecuh County',
 'Coosa County',
 'Covington County',
 'Crenshaw County',
 'Cullman County',
 'Dale County',
 'Dallas County',
 'DeKalb County',
 'Elmore County',
 'Escambia County',
 'Etowah County',
 'Fayette County',
 'Franklin County',
 'Geneva County',
 'Greene County',
 'Hale County',
 'Henry County',
 'Houston County',
 'Jackson County',
 'Jefferson County',
 'Lamar County',
 'Lauderdale County',
 'Lawrence County',
 'Lee County',
 'Limestone County',
 'Lowndes County',
 'Macon County',
 'Madison County',
 'Marengo County',
 'Marion County',
 'Marshall County',
 'Mobile County',
 'Monroe County',
 'Montgomery County',
 'Morgan County',
 'Perry County',
 'Pickens County',
 'Pike County',
 'Randolph County',
 'Russell County',
 'Saint Clair County',
 'Shelby County',
 'Sumter County',
 'Talladega County',
 'Tallapoosa County',
 'Tuscaloosa County',
 'Walker County',
 'Washington County',
 'Wilcox County',
 'Winston County']

In [49]:
def iterate_files():
#read all csv files in directory, return merged combined data file

SyntaxError: unexpected EOF while parsing (<ipython-input-49-960e37cf1559>, line 2)

In [54]:
def filter_health_data_all_resp(df, state):

# give a state data frame, state name
# returns dataframe with respiratory mortality rates for all, male, female

# chronic respiratory diseases, cause_id == 508
# asthma, cause_id == 515
# COPD, cause_id == 509

# gender rates
# both, sex_id ==3
# male, sex_id ==1
# female, sex_id ==2
    
    temp_frame_resp_mort = df[df["cause_id"] == 508]
    #temp_frame_asthma_mort = df[df["cause_id"] == 515]
    #temp_frame_copd_mort = df[df["cause_id"] == 519]
                                
    # for the state, get a list of unique county names                            
    county_list = []
    list3 = df["location_name"]
    for x in list3:
        if x not in county_list:
            county_list.append(x) 
    
    year_list = []
    list4 = df["year_id"]
    for x in list4:
        if x not in year_list:
            year_list.append(x) 
    
    gender_list = [3,1,2]
    
    fips_list = []
    list5 = df["FIPS"]
    for x in list5:
        if x not in fips_list:
            fips_list.append(x) 
    
    combined_data = pd.DataFrame(columns=('county','state','fips','year','both_gender_resp_mort','male_resp_mort','female_resp_mort'))
    
    for x in fips_list:
        temp_r = temp_frame_resp_mort[temp_frame_resp_mort["FIPS"]==x]
        
        for y in year_list:    
            
            empty_row = pd.Series()
            
            c = temp_r_year[temp_r_year["sex_id"]==3] # both genders combined
            d = temp_r_year[temp_r_year["sex_id"]==2] # female
            e = temp_r_year[temp_r_year["sex_id"]==1] # male
            
            empty_row["county"] = c["location_name"]
            empty_row["state"] = state                  
            empty_row["fips"]= x
            empty_row["year"]= y
            empty_row["both_gender_resp_mort"] = c["mx"] 
            empty_row["male_resp_mort"]= e["mx"]      
            empty_row["female_resp_mort"]= d["mx"]      
            
            combined_data.append(empty_row, ignore_index=True)

    return temp_r_year

In [55]:
a = filter_health_data_all_resp(df2,"Alabama")
a

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,lower,upper
174789,587,Winston County,1133,508,Chronic respiratory diseases,3,Both,2014,109.559395,103.274240,116.514722
174824,587,Winston County,1133,508,Chronic respiratory diseases,1,Male,2014,141.287423,130.222971,152.276668
174859,587,Winston County,1133,508,Chronic respiratory diseases,2,Female,2014,86.712850,79.628503,94.232222

In [25]:
b = a["both_gender_resp_mort"]
b
c = 
c

174789    110.559395
Name: mx, dtype: float64

In [ ]:
for j in year_list:
        temp = temp_frame_resp_mort[(temp_frame_resp_mort["year_id"]==j) & (temp_frame_resp_mort["FIPS"]== current_fips)]
            
                                
            empty_row = pd.Series()
            empty_row["county"]= current_county
            empty_row["fips"]= current_fips
            empty_row["year"]= j
            empty_row["both_gender_resp_mort"]= both_gender_resp_mort 
            empty_row["male_resp_mort"]=  male_resp_mort      
            empty_row["female_resp_mort"]= female_resp_mort      
                                
        
        old_name = df2.iloc[i]["location_name"]
    
        end = len(old_name)

        delete = len(" County")
    
        new_name = old_name[0:end-delete]
        df2.set_value(i, "location_name", new_name)
                                
                                
    # get a list for iteration
    # from https://www.geeksforgeeks.org/python-get-unique-values-list/
    # intialize a null list
    fips_list = []
    list1 = df["FIPS"]  

    # traverse for all elements, fips_list is unique list of fips codes
    for x in list1:
        # check if exists in unique_list or not
        if x not in state_list:
            fips_list.append(x)
            
    year_list = []
    list2 = df["year_id"]                              
    
    # traverse for all elements, year_list is unique list of years for which data is available
    for x in list1:
    # check if exists in unique_list or not
        if x not in year_list:
            year_list.append(x)
    
    for x in fips_list:
        for y in year_list:
                                
            both_gender_resp_mort = temp_frame_resp_mort[(temp_frame_resp_mort["FIPS"] == x) & (temp_frame_resp_mort["year_id"] == y) & (temp_frame_resp_mort["sex_id"] == 3)]
            both_gender_asthma_mort = temp_frame_asthma_mort[(temp_frame_asthma_mort["FIPS"] == x) & (temp_frame_asthma_mort["year_id"] == y) & (temp_frame_asthma_mort["sex_id"] == 3)]
            both_gender_copd_mort = temp_frame_copd_mort[(temp_frame_copd_mort["FIPS"] == x) & (temp_frame_copd_mort["year_id"] == y) & (temp_frame_copd_mort["sex_id"] == 3)]              
            
            male_resp_mort =  temp_frame_resp_mort[(temp_frame_resp_mort["FIPS"] == x) & (temp_frame_resp_mort["year_id"] == y) & (temp_frame_resp_mort["sex_id"] == 1)]
            male_asthma_mort =temp_frame_asthma_mort[(temp_frame_asthma_mort["FIPS"] == x) & (temp_frame_asthma_mort["year_id"] == y) & (temp_frame_asthma_mort["sex_id"] == 1)]
            male_copd_mort =  both_gender_copd_mort = temp_frame_copd_mort[(temp_frame_copd_mort["FIPS"] == x) & (temp_frame_copd_mort["year_id"] == y) & (temp_frame_copd_mort["sex_id"] == 1)]                  
         
            female_resp_mort =temp_frame_resp_mort[(temp_frame_resp_mort["FIPS"] == x) & (temp_frame_resp_mort["year_id"] == y) & (temp_frame_resp_mort["sex_id"] == 2)]
            female_asthma_mort = temp_frame_asthma_mort[(temp_frame_asthma_mort["FIPS"] == x) & (temp_frame_asthma_mort["year_id"] == y) & (temp_frame_asthma_mort["sex_id"] == 2)]
            female_copd_mort = both_gender_copd_mort = temp_frame_copd_mort[(temp_frame_copd_mort["FIPS"] == x) & (temp_frame_copd_mort["year_id"] == y) & (temp_frame_copd_mort["sex_id"] == 2)]  
                                
                                
            empty_row = pd.Series()
            empty_row["county"]= 
            empty_row["fips"]= x
            empty_row["year"]= y
            empty_row["both_gender_resp_mort"]= both_gender_resp_mort 
            empty_row["both_gender_asthma_mort"]= both_gender_asthma_mort
            empty_row["both_gender_copd_mort"]= both_gender_copd_mort
            empty_row["male_resp_mort"]=  male_resp_mort      
            empty_row["male_asthma_mort"]= male_asthma_mort      
            empty_row["male_copd_mort"]= male_copd_mort
            empty_row["female_resp_mort"]= female_resp_mort      
            empty_row["female_asthma_mort"]= female_asthma_mort      
            empty_row["female_copd_mort"] = female_copd_mort              
                                

    return temp_frame_resp_mort
                                
# returned data frame contains rows for each county in the state for which mortality rate data is available
# each year has a unique row
# columns are rates (both, male, female for all resp, male, female) 
                                
 for i in df2.index:
    old_name = df2.iloc[i]["location_name"]
    
    end = len(old_name)

    delete = len(" County")
    
    new_name = old_name[0:end-delete]
    df2.set_value(i, "location_name", new_name)

In [ ]:
def health_format

In [30]:
a = filter_health_data(df2)
a.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,lower,upper
1225,523,,1,508,Chronic respiratory diseases,3,Both,1980,42.433142,41.223012,43.599411
1226,523,,1,508,Chronic respiratory diseases,3,Both,1981,42.639875,41.567248,43.788851
1227,523,,1,508,Chronic respiratory diseases,3,Both,1982,42.723237,41.605503,43.750892
1228,523,,1,508,Chronic respiratory diseases,3,Both,1983,43.383702,42.313038,44.433954
1229,523,,1,508,Chronic respiratory diseases,3,Both,1984,44.695948,43.610414,45.697924

In [15]:
df1980aqi.head()

# get a list of states for iteration
# from https://www.geeksforgeeks.org/python-get-unique-values-list/
# intilize a null list
state_list = []
list1 = df1980aqi["State"]  

# traverse for all elements
for x in list1:
    # check if exists in unique_list or not
    if x not in state_list:
        state_list.append(x)
# print list
for x in state_list:
    print(x)

Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
District Of Columbia
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Puerto Rico
Rhode Island
South Carolina
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin

In [17]:
df2 = pd.read_csv("IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_ALABAMA_Y2017M05D19.csv")
df2.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,lower,upper
0,523,Alabama,1,294,All causes,3,Both,1980,1164.632961,1157.592002,1171.695601
1,523,Alabama,1,294,All causes,3,Both,1981,1147.749702,1140.972269,1154.815892
2,523,Alabama,1,294,All causes,3,Both,1982,1125.715064,1118.839079,1133.017565
3,523,Alabama,1,294,All causes,3,Both,1983,1126.679752,1119.276933,1133.815623
4,523,Alabama,1,294,All causes,3,Both,1984,1130.392543,1123.697852,1137.313085

In [8]:
df2

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,lower,upper
0,523,Alabama,1,294,All causes,3,Both,1980,1164.632961,1157.592002,1171.695601
1,523,Alabama,1,294,All causes,3,Both,1981,1147.749702,1140.972269,1154.815892
2,523,Alabama,1,294,All causes,3,Both,1982,1125.715064,1118.839079,1133.017565
3,523,Alabama,1,294,All causes,3,Both,1983,1126.679752,1119.276933,1133.815623
4,523,Alabama,1,294,All causes,3,Both,1984,1130.392543,1123.697852,1137.313085
5,523,Alabama,1,294,All causes,3,Both,1985,1135.529469,1128.409618,1142.827432
6,523,Alabama,1,294,All causes,3,Both,1986,1133.352283,1126.612098,1139.723889
7,523,Alabama,1,294,All causes,3,Both,1987,1125.171180,1118.748094,1131.642936
8,523,Alabama,1,294,All causes,3,Both,1988,1133.394785,1126.629575,1140.495618
9,523,Alabama,1,294,All causes,3,Both,1989,1118.441262,1111.985327,1125.314333
10,523,Alabama,1,294,All causes,3,Both,1990,1105.135691,1098.843182,1111.353958
11,523,Alabama,1,294,All causes,3,Both,1991,1102.383499,1096.392404,1108.153349
12,523,Alabama,1,294,All causes,3,Both,1992,1081.769577,1075.515244,1087.740159
13,523,Alabama,1,294,All causes,3,Both,1993,1100.332653,1094.318012,1106.583331
14,523,Alabama,1,294,All causes,3,Both,1994,1104.883844,1098.901730,1111.279836
15,523,Alabama,1,294,All causes,3,Both,1995,1109.284278,1103.258382,1115.464763
16,523,Alabama,1,294,All causes,3,Both,1996,1096.969775,1090.878526,1102.578855
17,523,Alabama,1,294,All causes,3,Both,1997,1088.515487,1082.982128,1094.671331
18,523,Alabama,1,294,All causes,3,Both,1998,1085.572863,1079.547324,1091.571990
19,523,Alabama,1,294,All causes,3,Both,1999,1092.564568,1086.845258,1098.694416
20,523,Alabama,1,294,All causes,3,Both,2000,1093.837906,1087.943469,1099.964591
21,523,Alabama,1,294,All causes,3,Both,2001,1098.178595,1092.268463,1103.764213
22,523,Alabama,1,294,All causes,3,Both,2002,1099.291609,1093.646600,1105.427233
23,523,Alabama,1,294,All causes,3,Both,2003,1093.673509,1087.545032,1099.701728
24,523,Alabama,1,294,All causes,3,Both,2004,1069.825864,1063.995679,1075.695476
25,523,Alabama,1,294,All causes,3,Both,2005,1065.948084,1060.037814,1072.075329
26,523,Alabama,1,294,All causes,3,Both,2006,1052.495812,1046.864144,1058.454773
27,523,Alabama,1,294,All causes,3,Both,2007,1032.290518,1026.470328,1037.844174
28,523,Alabama,1,294,All causes,3,Both,2008,1024.128424,1018.769930,1029.754215
29,523,Alabama,1,294,All causes,3,Both,2009,1012.265158,1006.717328,1018.349230
...,...,...,...,...,...,...,...,...,...,...,...
176090,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1985,0.588504,0.013934,3.316137
176091,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1986,0.387704,0.009648,2.233236
176092,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1987,0.559672,0.011207,3.522473
176093,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1988,0.380927,0.009101,2.073164
176094,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1989,0.545612,0.016702,3.099947
176095,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1990,0.510277,0.014041,3.012377
176096,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1991,0.391744,0.010727,2.354466
176097,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1992,0.492717,0.013518,3.085638
176098,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1993,0.463633,0.011053,2.847949
176099,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1994,0.561183,0.014561,2.933887
176100,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1995,0.478135,0.013477,2.926999
176101,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1996,0.537858,0.014260,3.235547
176102,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1997,0.551634,0.012626,2.968627
176103,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1998,0.621321,0.018953,3.425838
176104,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,1999,0.673360,0.019935,3.460051
176105,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2000,0.562064,0.015383,2.985501
176106,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2001,1.456961,0.039580,8.734271
176107,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2002,0.253069,0.005676,1.384646
176108,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2003,0.685323,0.021575,4.217420
176109,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2004,1.091518,0.028483,6.468312
176110,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2005,3.301721,0.058159,18.522250
176111,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2006,1.007335,0.032593,6.153197
176112,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2007,1.189763,0.029462,6.435320
176113,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2008,0.834046,0.021342,4.727836
176114,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2009,0.577179,0.019171,3.326074
176115,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2010,0.781777,0.024473,4.767236
176116,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2011,3.340829,0.269875,14.788441
176117,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2012,0.601388,0.022356,3.023915
176118,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2013,0.400217,0.010950,2.155575
176119,587,Winston County,1133,728,"Forces of nature, war, and legal intervention",2,Female,2014,0.265981,0.004247,1.462807

In [18]:
# df2["location_name"]

# replace <name> county with <name> 

for i in df2.index:
    old_name = df2.iloc[i]["location_name"]
    
    end = len(old_name)

    delete = len(" County")
    
    new_name = old_name[0:end-delete]
    df2.set_value(i, "location_name", new_name)
    
    
# need to take year into account
# search for automated iteration over file names

In [9]:
df2

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,lower,upper
0,523,,1,294,All causes,3,Both,1980,1164.632961,1157.592002,1171.695601
1,523,,1,294,All causes,3,Both,1981,1147.749702,1140.972269,1154.815892
2,523,,1,294,All causes,3,Both,1982,1125.715064,1118.839079,1133.017565
3,523,,1,294,All causes,3,Both,1983,1126.679752,1119.276933,1133.815623
4,523,,1,294,All causes,3,Both,1984,1130.392543,1123.697852,1137.313085
5,523,,1,294,All causes,3,Both,1985,1135.529469,1128.409618,1142.827432
6,523,,1,294,All causes,3,Both,1986,1133.352283,1126.612098,1139.723889
7,523,,1,294,All causes,3,Both,1987,1125.171180,1118.748094,1131.642936
8,523,,1,294,All causes,3,Both,1988,1133.394785,1126.629575,1140.495618
9,523,,1,294,All causes,3,Both,1989,1118.441262,1111.985327,1125.314333
10,523,,1,294,All causes,3,Both,1990,1105.135691,1098.843182,1111.353958
11,523,,1,294,All causes,3,Both,1991,1102.383499,1096.392404,1108.153349
12,523,,1,294,All causes,3,Both,1992,1081.769577,1075.515244,1087.740159
13,523,,1,294,All causes,3,Both,1993,1100.332653,1094.318012,1106.583331
14,523,,1,294,All causes,3,Both,1994,1104.883844,1098.901730,1111.279836
15,523,,1,294,All causes,3,Both,1995,1109.284278,1103.258382,1115.464763
16,523,,1,294,All causes,3,Both,1996,1096.969775,1090.878526,1102.578855
17,523,,1,294,All causes,3,Both,1997,1088.515487,1082.982128,1094.671331
18,523,,1,294,All causes,3,Both,1998,1085.572863,1079.547324,1091.571990
19,523,,1,294,All causes,3,Both,1999,1092.564568,1086.845258,1098.694416
20,523,,1,294,All causes,3,Both,2000,1093.837906,1087.943469,1099.964591
21,523,,1,294,All causes,3,Both,2001,1098.178595,1092.268463,1103.764213
22,523,,1,294,All causes,3,Both,2002,1099.291609,1093.646600,1105.427233
23,523,,1,294,All causes,3,Both,2003,1093.673509,1087.545032,1099.701728
24,523,,1,294,All causes,3,Both,2004,1069.825864,1063.995679,1075.695476
25,523,,1,294,All causes,3,Both,2005,1065.948084,1060.037814,1072.075329
26,523,,1,294,All causes,3,Both,2006,1052.495812,1046.864144,1058.454773
27,523,,1,294,All causes,3,Both,2007,1032.290518,1026.470328,1037.844174
28,523,,1,294,All causes,3,Both,2008,1024.128424,1018.769930,1029.754215
29,523,,1,294,All causes,3,Both,2009,1012.265158,1006.717328,1018.349230
...,...,...,...,...,...,...,...,...,...,...,...
176090,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1985,0.588504,0.013934,3.316137
176091,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1986,0.387704,0.009648,2.233236
176092,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1987,0.559672,0.011207,3.522473
176093,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1988,0.380927,0.009101,2.073164
176094,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1989,0.545612,0.016702,3.099947
176095,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1990,0.510277,0.014041,3.012377
176096,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1991,0.391744,0.010727,2.354466
176097,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1992,0.492717,0.013518,3.085638
176098,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1993,0.463633,0.011053,2.847949
176099,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1994,0.561183,0.014561,2.933887
176100,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1995,0.478135,0.013477,2.926999
176101,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1996,0.537858,0.014260,3.235547
176102,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1997,0.551634,0.012626,2.968627
176103,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1998,0.621321,0.018953,3.425838
176104,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,1999,0.673360,0.019935,3.460051
176105,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2000,0.562064,0.015383,2.985501
176106,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2001,1.456961,0.039580,8.734271
176107,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2002,0.253069,0.005676,1.384646
176108,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2003,0.685323,0.021575,4.217420
176109,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2004,1.091518,0.028483,6.468312
176110,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2005,3.301721,0.058159,18.522250
176111,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2006,1.007335,0.032593,6.153197
176112,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2007,1.189763,0.029462,6.435320
176113,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2008,0.834046,0.021342,4.727836
176114,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2009,0.577179,0.019171,3.326074
176115,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2010,0.781777,0.024473,4.767236
176116,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2011,3.340829,0.269875,14.788441
176117,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2012,0.601388,0.022356,3.023915
176118,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2013,0.400217,0.010950,2.155575
176119,587,Winston,1133,728,"Forces of nature, war, and legal intervention",2,Female,2014,0.265981,0.004247,1.462807

In [20]:
# use aqi dataframe as a base
# by state (one mortality rate file per state)

# add anuual respiratory mortality rate for 
# chronic respiratory diseases, cause_id == 508
# asthma, cause_id == 515
# COPD, cause_id == 509

# gender rates
# both, sex_id ==3
# male, sex_id ==1
# female, sex_id ==2

# from giant file,
# obtain dataframe rates for respiratory mortality, gender breakdown
# multiple rows in the mortality file
# we want rates for a single year to add to the aqi file
# new col headings will be for yearly aqi/county
# 
# both_gender_resp_mort both_gender_asthma_mort both_gender_copd_mort
# male_resp_mort        male_asthma_mort        male_copd_mort
# female_resp_mort      female_asthma_mort      female_copd_mort

# df<year>aqi - air quality by county for that year
# df2<state> - state mortality rates indexed by year, cause_id, gender

both_temp_frame_resp_mort = df2[df2["cause_id"]==508 & df2["sex_id"]==3]
male__temp_frame_resp_mort = df2["cause_id"]==508 & df2["sex_id"]==1
female__temp_frame_resp_mort = df2["cause_id"]==508 & df2["sex_id"]==2

#both_temp_frame_asthma_mort = df2["cause_id"]==515 & df2["sex_id"]==3
#male_temp_frame_asthma_mort = df2["cause_id"]==515 & df2["sex_id"]==1
#female_temp_frame_asthma_mort = df2["cause_id"]==515 & df2["sex_id"]==2

#both_temp_frame_copd_mort = df2["cause_id"]==509 & df2["sex_id"]==3
#male_temp_frame_copd_mort = df2["cause_id"]==509 & df2["sex_id"]==1
#female_temp_frame_copd_mort = df2["cause_id"]==509 & df2["sex_id"]==2

# these data frames include rows for each county in the state for these combinations
# now add to aqi row for year, for each state file

# FOR AQI FILE FOR YEARS 1980-2014
# df1980aqi --> append column headings for 
# both_gender_resp_mort both_gender_asthma_mort both_gender_copd_mort
# male_resp_mort        male_asthma_mort        male_copd_mort
# female_resp_mort      female_asthma_mort      female_copd_mort
#


for df1980aqi["State"] == "Alabama":



    df1980aqi["both_gender_resp_mort"] = ""
    df1980aqi["both_gender_asthma_mort"] = ""
    df1980aqi["both_gender_copd_mort"] = ""
    df1980aqi["male_resp_mort"] = ""
    df1980aqi["male_asthma_mort"] = ""
    df1980aqi["male_copd_mort"] = ""
    df1980aqi["female_resp_mort"] = ""
    df1980aqi["female_asthma_mort"] = ""
    df1980aqi["female_copd_mort"] = ""

    for i in df1980aqi.index:
    
        df1980aqi.set_value(i, "both_gender_resp_mort", <county rate>)
        df1980aqi.set_value(i, "both_gender_asthma_mort", <county rate>)
        df1980aqi.set_value(i, "both_gender_copd_mort", <county rate>)
        df1980aqi.set_value(i, "male_resp_mort", <county rate>)
        df1980aqi.set_value(i, "male_asthma_mort", <county rate>)
        df1980aqi.set_value(i, "male_copd_mort", <county rate>)
        df1980aqi.set_value(i, "female_resp_mort", <county rate>)
        df1980aqi.set_value(i, "female_asthma_mort", <county rate>)
        df1980aqi.set_value(i, "female_copd_mort", <county rate>)


# assign mortality rate values by matching county and state names

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,Days PM10,both_gender_resp_mort,both_gender_asthma_mort,both_gender_copd_mort,male_resp_mort,male_asthma_mort,male_copd_mort,female_resp_mort,female_asthma_mort,female_copd_mort
0,Alabama,Autauga,1980,179,122,35,18,4,0,0,...,0,,,,,,,,,
1,Alabama,Colbert,1980,274,127,45,63,39,0,0,...,0,,,,,,,,,
2,Alabama,Jackson,1980,366,85,110,92,79,0,0,...,0,,,,,,,,,
3,Alabama,Jefferson,1980,342,174,105,37,19,7,0,...,0,,,,,,,,,
4,Alabama,Lauderdale,1980,274,120,58,77,19,0,0,...,0,,,,,,,,,
5,Alabama,Madison,1980,322,132,125,60,5,0,0,...,0,,,,,,,,,
6,Alabama,Mobile,1980,286,180,62,35,8,1,0,...,0,,,,,,,,,
7,Alabama,Monroe,1980,90,63,14,7,6,0,0,...,0,,,,,,,,,
8,Alabama,Morgan,1980,332,207,93,32,0,0,0,...,0,,,,,,,,,
9,Alabama,Tuscaloosa,1980,132,94,28,10,0,0,0,...,0,,,,,,,,,
10,Alaska,Anchorage,1980,366,205,116,18,14,13,0,...,0,,,,,,,,,
11,Alaska,Fairbanks North Star,1980,356,239,80,24,10,3,0,...,0,,,,,,,,,
12,Alaska,North Slope,1980,91,91,0,0,0,0,0,...,0,,,,,,,,,
13,Alaska,Valdez-Cordova,1980,364,329,29,6,0,0,0,...,0,,,,,,,,,
14,Arizona,Cochise,1980,359,122,38,55,144,0,0,...,0,,,,,,,,,
15,Arizona,Coconino,1980,254,199,54,1,0,0,0,...,0,,,,,,,,,
16,Arizona,Gila,1980,366,88,4,57,217,0,0,...,0,,,,,,,,,
17,Arizona,Greenlee,1980,366,72,57,45,192,0,0,...,0,,,,,,,,,
18,Arizona,Maricopa,1980,360,91,164,74,24,7,0,...,0,,,,,,,,,
19,Arizona,Pima,1980,366,17,159,140,50,0,0,...,0,,,,,,,,,
20,Arizona,Pinal,1980,342,179,7,64,92,0,0,...,0,,,,,,,,,
21,Arizona,Yavapai,1980,22,14,7,1,0,0,0,...,0,,,,,,,,,
22,Arizona,Yuma,1980,256,177,50,21,8,0,0,...,0,,,,,,,,,
23,Arkansas,Crittenden,1980,250,212,28,10,0,0,0,...,0,,,,,,,,,
24,Arkansas,Pulaski,1980,366,264,56,28,17,1,0,...,0,,,,,,,,,
25,California,Alameda,1980,366,237,106,15,4,4,0,...,0,,,,,,,,,
26,California,Butte,1980,353,281,68,4,0,0,0,...,0,,,,,,,,,
27,California,Colusa,1980,31,30,1,0,0,0,0,...,0,,,,,,,,,
28,California,Contra Costa,1980,366,211,111,36,7,1,0,...,0,,,,,,,,,
29,California,El Dorado,1980,365,187,155,21,2,0,0,...,0,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,Wisconsin,Brown,1980,366,44,65,116,141,0,0,...,0,,,,,,,,,
568,Wisconsin,Buffalo,1980,329,242,61,25,1,0,0,...,0,,,,,,,,,
569,Wisconsin,Chippewa,1980,329,284,32,7,6,0,0,...,0,,,,,,,,,
570,Wisconsin,Columbia,1980,303,165,94,27,12,5,0,...,0,,,,,,,,,
571,Wisconsin,Dane,1980,358,199,102,55,2,0,0,...,0,,,,,,,,,
572,Wisconsin,Douglas,1980,162,152,7,3,0,0,0,...,0,,,,,,,,,
573,Wisconsin,Dunn,1980,316,230,64,18,4,0,0,...,0,,,,,,,,,
574,Wisconsin,Eau Claire,1980,327,318,9,0,0,0,0,...,0,,,,,,,,,
575,Wisconsin,Grant,1980,335,229,64,40,2,0,0,...,0,,,,,,,,,
576,Wisconsin,Kenosha,1980,366,223,79,57,6,1,0,...,0,,,,,,,,,
577,Wisconsin,La Crosse,1980,165,144,16,3,2,0,0,...,0,,,,,,,,,
578,Wisconsin,Marathon,1980,366,127,96,83,60,0,0,...,0,,,,,,,,,
579,Wisconsin,Milwaukee,1980,348,58,130,112,46,2,0,...,0,,,,,,,,,
580,Wisconsin,Oconto,1980,250,221,22,4,3,0,0,...,0,,,,,,,,,
581,Wisconsin,Oneida,1980,60,37,6,8,9,0,0,...,0,,,,,,,,,
582,Wisconsin,Outagamie,1980,202,175,19,8,0,0,0,...,0,,,,,,,,,
583,Wisconsin,Ozaukee,1980,183,154,11,12,5,1,0,...,0,,,,,,,,,
584,Wisconsin,Portage,1980,189,187,2,0,0,0,0,...,0,,,,,,,,,
585,Wisconsin,Price,1980,213,98,32,44,39,0,0,...,0,,,,,,,,,
586,Wisconsin,Racine,1980,343,233,69,28,9,4,0,...,0,,,,,,,,,
587,Wisconsin,Rock,1980,366,223,82,55,6,0,0,...,0,,,,,,,,,
588,Wisconsin,Sheboygan,1980,358,199,68,49,38,4,0,...,0,,,,,,,,,
589,Wisconsin,St. Croix,1980,163,141,17,2,3,0,0,...,0,,,,,,,,,
590,Wisconsin,Taylor,1980,266,190,48,18,10,0,0,...,0,,,,,,,,,
591,Wisconsin,Vernon,1980,361,200,53,85,23,0,0,...,0,,,,,,,,,
592,Wisconsin,Walworth,1980,146,97,31,12,6,0,0,...,0,,,,,,,,,
593,Wisconsin,Washington,1980,146,103,26,12,4,1,0,...,0,,,,,,,,,
594,Wisconsin,Waukesha,1980,316,296,16,3,1,0,0,...,0,,,,,,,,,
595,Wisconsin,Winnebago,1980,193,152,27,12,1,1,0,...,0,,,,,,,,,
596,Wisconsin,Wood,1980,277,190,40,36,11,0,0,...,0,,,,,,,,,